version: '3.7'
services:
  prometheus:
    image: prom/prometheus:latest
    container_name: monitoring_prometheus
    restart: unless-stopped
    volumes:
      - /etc/prometheus:/etc/prometheus/ 
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090
    environment:
      TZ: "Europe/Moscow"
    networks:
      - network-bridge

  grafana:
    image: grafana/grafana:latest
    container_name: monitoring_grafana
    restart: unless-stopped
    user: root
    depends_on:
      - prometheus
    ports:
      - 3000:3000
    volumes:
      - ./grafana:/var/lib/grafana 
    environment:
      - GF_SECURITY_ADMIN_PASSWORD={{ GRAF_PASS }}  
      - GF_USERS_ALLOW_SIGN_UP=false 
      - GF_SERVER_DOMAIN={{ monitoring_ip }}
      - GF_SMTP_ENABLED=false 
      - GF_SMTP_HOST=smtp.gmail.com:587 
      - GF_SMTP_USER=myadrress@gmail.com 
      - GF_SMTP_PASSWORD=mypassword 
      - GF_SMTP_FROM_ADDRESS=myaddress@gmail.com 
    networks:
      - network-bridge

  node-exporter:
    image: prom/node-exporter:latest
    container_name: monitoring_node_exporter
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - --path.procfs=/host/proc
      - --path.sysfs=/host/sys
      - --collector.filesystem.ignored-mount-points
      - ^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)
    ports:
      - 9100:9100 
    restart: unless-stopped
    expose:
      - 9100
    environment:
      TZ: "Europe/Moscow"
    networks:
      - network-bridge

  cadvisor:   
    image: gcr.io/cadvisor/cadvisor
    container_name: monitoring_cadvisor
    restart: unless-stopped
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    ports:
      - 8080:8080 
    depends_on:
      - redis
    networks:
      - network-bridge
  
  redis: 
    image: redis:latest
    ports:
      - 6379:6379
  
  blackbox:
    image: prom/blackbox-exporter
    container_name: blackbox
    hostname: blackbox
    ports:
      - 9115:9115
    restart: unless-stopped
    command:
      - "--config.file=/etc/blackbox/blackbox.yml"
    volumes:
      - ./blackbox:/etc/blackbox
    environment:
      TZ: "Europe/Moscow"
    networks:
      - network-bridge

networks:
  network-bridge:
    driver: bridge
