# my global config
global:
  scrape_interval:     20s # By default, scrape targets every 15 seconds.
  evaluation_interval: 20s # By default, scrape targets every 15 seconds.
  # scrape_timeout is set to the global default (10s).

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
      monitor: 'simplexteam-project'

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'
  # Override the global default and scrape targets from this job every 5 seconds.
    scrape_interval: 30s
  #    metrics_path defaults to '/metrics'
  #    scheme defaults to 'http'.
    static_configs:
  - job_name: 'prometheus instance'
    static_configs:
      - targets: [ 'localhost:9090' ]
  - job_name: 'node_exporter cadvisor'
    static_configs:
      - targets: [ 'cadvisor:8080','node-exporter:9100','{{ wordpress_01_ip }}:8081','{{ wordpress_01_ip }}:9100','{{ wordpress_02_ip }}:8081','{{ wordpress_02_ip }}:9100','wp-db-instance-member-0.mcs.local:9100','wp-db-instance-member-1.mcs.local:9100','wp-db-instance-member-2.mcs.local:9100' ]
  - job_name: 'mysqld_exporter'
    static_configs:
      - targets: [ 'wp-db-instance-member-0.mcs.local:9110','wp-db-instance-member-1.mcs.local:9110','wp-db-instance-member-2.mcs.local:9110' ]
  - job_name: 'blackbox'
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets: [ '{{ wordpress_01_ip }}', '{{ wordpress_02_ip }}' ]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox:9115
